@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Calibri', 'Arial', 'sans-serif';
}

:root {
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body {
  @apply bg-gradient-to-br from-mgreen via-mgray to-black;
}

html{
  min-height: 100%;
}
body {
    min-height: 100%;
}

h1, h2, h3 {
  margin: 0;
}